/* Navigation bar */
#navbar {
  flex-direction: column;
}

#navbar ul li {
  font-size: 16px;
}

#navbar ul li a {
  padding: 0px 10px;
}
/* Home Section */
#home{
    height: auto;
}
#home p{
    font-size: 12px;
}

/* Services section */
.services {
  flex-direction: column;
}
/* Client Section */
/* #client-section{
    height: auto;
} */
#client-section ::before {
  height: auto;
}

#clients {
  flex-wrap: wrap;
  width: auto;
}

/* Contact Us */

#contact-box form {
  width: 100%;
}

#contact-box input {
  width: 100%;
  padding: 0rem 0.5rem;
  margin: 0.5rem 0rem;
}
#contact-box textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
}


/* utility classes */
.h-primary{
    font-size: 2rem;
}
.btn{
    font-size: 16px;
}

